@import '../../global.scss';

nav {
    width: 100%;
    height: 85px;
    background: #02353a;
    @include df(center, space-between);
    padding-right: 40px;
    box-shadow: -2px 2px 7px $color1;
    z-index: 345;


    .logo {
        width: 30%;
        @include df(center, center);

        h1 {
            font-size: 40px;
            font-weight: 800;
            color: rgb(255, 255, 255);
        }
    }

    .links {
        width: 45%;
        padding-left: 20px;
        @include df(center, start);

        a {
            color: $color;
            font-weight: bold;
            font-size: 23px;

            &:hover {
                color: $color3;
            }

            margin-right: 30px;
        }

        .link {
            font-size: 23px;
            color: $color;
            font-weight: bold;
            position: relative;

            input {
                width: 210px;
                height: 40px;
                border-radius: 6px;
                padding-left: 15px;
                font-weight: bold;
            }
            i{
                position: absolute;
                top: 0px;
                width: 40px;
                height: 40px;
                border-radius: 6px;
                background: #fff;
                @include df(center,center);
                z-index: 5;
                right: 5px;
                color: $color2;
                cursor: pointer;
            }
        }

        select {
            margin-left: 40px;
            width: 60px;
            height: 40px;
            border-radius: 6px;
            option{
                width: 80px;
                height: 30px;

            }
        }
    }
}